html { 
    font-size:20px;
}
.point-type { 
    font-family: 'Aboreto', sans-serif;
}

main { 
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.banner { 
    background: url(./../img/coffee.png) no-repeat 50% 50% / cover;
    height: 599px;
    display: flex;
    justify-content: center;
    align-items: center;
    color : white;
    width: 100%; 
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    margin-bottom: 100px;
    position: relative;
}

.banner .image img {
    z-index: 0;
    position: absolute;
    top:50%;
    left:50%;
}

.heading1 {
    font-family: 'Aboreto';
    font-size: 50px;
    line-height: 100%;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.container {
    width: 1600px;
    margin: 0 auto;
    margin-bottom: 218px;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 {
    text-align: center;
    text-transform: uppercase;
}
.container1 .heading2 {
    font-family: 'Aboreto';
    font-size: 7.5rem;
    line-height: 90%;
    margin-bottom:40px;
}
.container1 .para { 
    width: 1600px;
    gap: 10px;
    border-top-width: 1px;
    font-family: 'Pretendard';
    font-size: 1rem;
    line-height: 140%;
    margin-bottom:100px;
}

.font-style  {
    font-family: 'Pretendard';
    font-size: 1rem;
    line-height: 140%;
    color : #770000;
}

.container2 {
    text-align: left;
}
.container2 .cafe-figure {
    display:flex;
    align-items: flex-start;
    gap:20px;
    margin-bottom: 50px; 
}

.cafe-figure .inner-figure img {
    width: 790px;
    height: 434px;    
    border-radius: 20px;
    object-fit: cover;
}

.inner-figure2 {
    font-size: 2rem;
}
.para span { 
    color: #770000;
}
.description {
    font-family: 'Pretendard';
    font-size: 1rem;
    line-height: 140%;
    text-transform: capitalize;
}
.para { 
    margin-bottom:20px;
}
.para1 {
    margin-bottom:10px;
}