@media(max-width:1600px) {
    .container {
        width: auto;
        margin: 0 2rem;
    }
    .container1 .heading2 {
        font-size: 150px;
    }
    .container1 {
        width: 100%;
    }
    .banner { 
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .container1 .para { 
        width:100%;
        text-align: center;
    }
    .container1 .para { 
        width:100%;
        text-align: center;
    }
    .cafe-figure .inner-figure img {
        width: 100%;
        aspect-ratio: 467 / 434;
        object-fit: cover;
    }
    
}